{% extends 'base.html' %} 

{% block content %} 
        <br><br>
        <div class="container">

            <h1 class="title">The impossible, made possible.</h1>
            <hr>
            <p class="subtitle">From big to little, do it all with our API of Replit.</p>
        </div>
            
        <br><br><br>
        <div class="container-fluid">
            <div class="hero is-halfheight is-rounded has-background-success">
                <div class="has-text-centered">
                    <br><br>
                    <h1 class="title">Zero Latency. Infinite Possibilities</h1>
                    <h4 class="subtitle">Get the data you need right when you need it, blazingly fast</h4>
                </div>
            </div>
            <hr>
            <div class="hero is-halfheight is-rounded has-background-info">
                <div class="has-text-centered">
                    <br><br>
                    <h1 class="title">Board and user data</h1>
                    <h4 class="subtitle">Everything you need in one place.</h4>
                </div>
            </div>
            <hr>
            <div class="hero is-halfheight is-rounded has-background-warning">
                <div class="has-text-centered">
                    <br><br>
                    <h1 class="title">Easy to pick up, no hassle</h1>

                    <h4 class="subtitle">Built on REST</h4>
                </div>
            </div>
            <hr>
            <div class="hero is-halfheight is-rounded has-background-primary">
                <div class="has-text-centered">
                    <br><br>
                    <h1 class="title">REST not your thing?</h1>
                    <div class="content">
                        Get the Python package via pip. Coming soon!
                        <br><br>
                        <button class='button is-warning is-disabled' disabled>Download</button>
                        <br><br>
                        Get the Node.js package using npm. Coming soon! <br><br>
                        <button class="button is-warning is-disabled" disabled>Download</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}